@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap');

/* font-family: 'Abril Fatface', cursive;
font-family: 'Open Sans', sans-serif; */

/* DEFAULT */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif, Arial;
}

body {
   height: 100vh;
   background: rgb(255,255,255);
   /* background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(51,51,51,1) 100%); */
}

/* HEADER */
header {
   height: 5rem;
   display: flex;
   
   width: 100%;
   justify-content: center;
   align-items: center;
   text-align: center;
   background: #fff;
}

header h1, h3 {
   font-family: 'Abril Fatface', cursive;
   color: darkgray;
}

header span, .add-book h3 span {
   font-family: 'Abril Fatface', cursive;
   color: #333;
}


/* TABLE */
table {
   border-collapse: collapse;
   /* check below */
   border-spacing: 0; 
   width: 90%;
   margin: 0 auto;
   margin-top: 2rem;
   text-align: center;
}

td, th {
   border-top: 2px solid #000;
   border-bottom: 2px solid #000;
   padding: 1rem 0;
}

th {
   text-transform: uppercase;
   font-weight: bold;
}

tr:nth-child(even) {
   background: #AFCCC5;
}

/* ADD BOOK */

.add-book {
width: 90%;
margin: 0 auto;
/* background: #fff; */
text-align: center;
}

.add-book h3 {
   margin-right: 5px;
}

.add-book div {
   width: 100%;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.add-book div input[type=text],
.add-book div input[type=number] {
   border: none;
   outline: none;
   background: #f9f9f9;
   font-size: 1rem;
   /* border-radius: 10px; */
   /* box-shadow: inset 3px 3px 3px #f7f7f7, 
   inset -3px -3px 3px #f7f7f7; */
   border-bottom: 2px solid gray;
   padding: 5px 10px;
   margin: .5rem;
}

